{% extends 'resizer/base.html' %}
{% block title %} image list {% endblock title %}
{% block content %}
  <div>
    <h2>Список изображений</h2>
    <div>
      {% for picture in picture_list %}
        <p>
          <a href="{{ picture.get_absolute_url }}">{{ picture.image_file }}</a>
        </p>
      {% empty %}
        <p>Нет доступных изображений</p>
      {% endfor %}
    </div>
    <div>
      <a href="{% url 'picture_create' %}">Добавить изображение</a>
    </div>
  </div>
{% endblock content %}
