{% extends 'resizer/base.html' %}
{% block title %} upload your image {% endblock title %}
{% block content %}
  <div>
    <a href="{% url 'picture_list' %}">Назад к списку</a>
    <h2>Новое изображение</h2>
    <div>
      <form action="{% url 'picture_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          <p>Ссылка</p>
          {{ form.image_url }}
          <p>Файл</p>
          {{ form.image_file }}
        </div>
        <div>
          {{ form.errors }}
        </div>
        <br>
        <input type="submit" value="Отправить">
      </form>
    </div>
  </div>
{% endblock content %}
